name: CI
on:
  push:
    branches-ignore:
      - main
  pull_request:
    types:
      - closed
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python:
          - "3.10"
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - run: sudo apt-get install -y autossh libdbus-1-dev
      - run: pip install flit
      - run: flit install --deps all
      - run: pytest --ignore tests/manual_tests/
