name: Lint
on:
  push:
    branches-ignore:
      - main
  pull_request:
    types: [closed]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version-file: '.python-version'
      - uses: isort/isort-action@v1
      - uses: psf/black@stable

